<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	{% include head-custom.html %}

	{% seo %}
</head>

<style>
	.line {
		border-bottom: 1px dashed #b5e853;
		margin-bottom: 1%;
	}
</style>

<body>

<header>
	<div class="container">
		<img src="/Light-documentation/logo.png" height="200px" width="200px"></img>

		<a id="a-title" href="#">
			<h1>{{ page.title | default: site.github.repository_name }}</h1>
		</a>
		<h2>{{ site.description | default: site.github.project_tagline }}</h2>
		<div class="line"></div>
		<section id="downloads">
			{% if site.show_downloads %}
			<a href="https://github.com/tsukasaroot/Light/archive/refs/heads/main.zip" class="btn">Download as .zip</a>
			<a href="https://github.com/tsukasaroot/Light/archive/refs/heads/main.tar.gz" class="btn">Download as
				.tar.gz</a>
			{% endif %}
		</section>
		<div class="line"></div>
		<a href="/Light-documentation" class="btn">Index</a>
		<a href="/Light-documentation/about" class="btn">About</a>
		<a href="/Light-documentation/manager" class="btn">Manager</a>
	</div>
</header>

<div class="container">
	<section id="main_content">
		{{ content }}
	</section>
</div>

<footer class="container line">TEST FOOTER</footer>
</body>
</html>